{{template "header" .}}
        <h1 class="py-5 text-4xl">
        Frequently asked questions
        </h1>
        <ul class="px-10 py-2">
        {{range .}}
            {{template "qa" .}}
        {{end}}
        </ul>


    {{define "qa"}}
        <li><b class="text-lg text-gray-400">{{.Ques}}</b><br><span class="text-2xl text-gray-900"> {{.Ans}}</span></li><br><br>
    {{end}}
{{template "footer"}}