{{template "header"}}
<div class="px-10 py-10 text-4xl">
    Landing page
    Sign in/sign up to get to home page 
    <img src="github.com/GarvitSadhwani/todoApp/templates/home.jpg"/>
</div>
{{template "footer"}}
